.profile {
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #FFF;
    transition: 0.4s all ease ;

}



.photoProfile {
    padding: 0 0.5rem;
}



.photoProfile img {
    width: 50px;
    transition: 0.4s all ease ;

    height: 50px;
    border-radius: 50%;
}


.userName {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.userName p:last-child {
    text-transform: capitalize;
}


@media screen and (max-width: 960px) {
    .profile {
        gap: 0.5rem;
        font-size: 0.9rem;

    }

    .photoProfile img {
        width: 35px;
        height: 35px;
    }
    .userName {
        gap: 0.25rem;
    }
}
@media screen and (max-width: 768px) {
    .profile {
        gap: 0.25rem;
        font-size: 0.75rem;

    }

    .photoProfile img {
        width: 35px;
        height: 35px;
    }
   
}