.foldersTags {
    margin-top: 16px;
}

.titleAndAdd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.titleAndAdd a {
    text-decoration: none;
    color: #bebebe;

}

.titleAndAdd p {
    text-transform: capitalize;

}

.listItems {
    padding-left: 0.5rem;
}

.listItems ul {
    list-style: none;
    margin-top: 0.75rem;
}

.listItems ul li {
    cursor: pointer;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.listItems ul li a {
    color: #fff;
    text-decoration: none;
}

.listItems ul li svg {
    fill: #fff;
    font-size: 1rem;
}

/* active Item */
.aciveItem {
    width: 75%;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #3E3F1C;
}

.aciveItem {
    color: #FFC812;
    font-weight: bold;
}

.aciveItem svg {
    fill: #FFC812 !important;
}