.showNote {
    transition: all ease-in-out 0.4s;
    width: 100%;
    display: flex;

}


.header {
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.editBtn {
    display: flex;
    align-items: center;
}

.editBtn svg {
    font-size: 1.25rem;
    transition: all ease-in-out 0.4s;
}

.editBtn svg:hover {
    color: #FFC812;
}


.note {
    width: 70%;
    padding: 1rem 0.75rem;
}

.noteData {
    margin-top: 1.5rem;
}

.noteData h2 {
    color: #FFC812;
}

.noteData p {
    margin-top: 1rem;
    word-break: keep-all;
}

.editor {
    margin-top: 1rem;

}

.editor form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.showTextNote {
    margin: 1rem 2rem;
}

.vectorNoContent {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
    font-size: 1.5rem;
}

.vectorNoContent img {
    width: 100%;

}