.navbar {
    width: 20%;
    padding: 0 0.5rem;
    max-width: 230px;
    min-width: 200px;
    border-right: 1px solid #fff;
    height: 100%;
    transition: 0.4s all ease ;
}

@media screen and (max-width:960px) {
    .navbar {
        max-width: 150px;
        min-width: 130px;
    }
}
@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }
}