.addTodo {
    background-color: #1B1D1B;
    width: 55%;
    min-height: 50%;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all ease-in-out 0.4s;
}


@media screen and (max-width:780px) {
    .addTodo {
        padding: 0.75rem;


    }
}

@media screen and (min-width:1080px) {
    .addTodo {
        width: 40%;
        padding: 1rem;


    }
}






.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeWindow {
    text-decoration: none;
    font-size: 1.5rem;
    color: #bebebe;
}

.addNote h3 {
    margin: 0;
    color: #FFC812;
}

.formData {
    padding: 0.25rem 0.75rem;
}

.formData form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.btnAdd{
    width: 100%;
}